<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSCI3340Project</title>
</head>
<body style="background-color: #8B7355;" >
	<br/>
	<h3 align = "center">
    	<font face = "title" size = "5">To-Do Bulletin</font>
        
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <font face = "hyper" size = "4" >
        	<a href = "#" style="color:#000;">Sign In</a> &nbsp;&nbsp;&nbsp;
            <a href = "#" style="color:#000;">Sign Up</a> &nbsp;&nbsp;&nbsp;
        
    </h3>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <h1 align = "center">
    	<font face = "welcome" size = "10" > Welcome!</font>
    </h1>
    <h3 align = "center">
    	<font face = "message" size = "8" > Sign In to Begin</font>
    </h3>
    
    
</body>
</html>